<clr-modal *ngIf="testsuite" [(clrModalOpen)]="opened">
  <h3 class="modal-title">{{ 'TESTSUITECREATEPAGE.CREATE_TESTSUITE' | translate }}</h3>
  <div class="modal-body">
    <form clrForm (ngSubmit)="setOpened(false); createTestSuite()" id="createTestSuiteForm" #createTestSuiteForm="ngForm" (keyup.enter)="createTestSuiteForm.form.valid && createTestSuiteForm.ngSubmit.emit();">
      <section class="form-block">

        <clr-input-container>
          <label class="required" for="name">{{ 'TESTSUITECREATEPAGE.NAME' | translate }}</label>
          <input clrInput [appAutofocus]="opened" type="text" id="name" name="name" [(ngModel)]="testsuite.name" #name="ngModel" required placeholder="{{ 'TESTSUITECREATEPAGE.NAME_PLACEHOLDER' | translate }}"
            size="35">
        </clr-input-container>

        <clr-input-container>
          <label for="description">{{ 'TESTSUITECREATEPAGE.DESCRIPTION' | translate }}</label>
          <input clrInput type="text" id="description" name="description" [(ngModel)]="testsuite.description" #description="ngModel" placeholder="{{ 'TESTSUITECREATEPAGE.DESCRIPTION_PLACEHOLDER' | translate }}"
            size="35">
        </clr-input-container>



      </section>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="setOpened(false)">{{ 'COMMON.CANCEL_BUTTON' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="createTestSuiteForm.ngSubmit.emit();" [disabled]="!createTestSuiteForm.form.valid">{{ 'COMMON.CREATE_BUTTON' | translate }}</button>
  </div>
</clr-modal>
