<h3>
  {{testrun.name}}
  <a (click)="onEdit();" class="btn btn-primary">
    <clr-icon shape="pencil"></clr-icon> {{ 'TESTMANAGEMENTPAGE.EDIT' | translate }}
  </a>
</h3>
Dashboard with progress will be here
<br>
<a class="btn btn-primary">
  <clr-icon shape="plus"></clr-icon> Add testcases
</a>
<!--
<ul>
  <li>test execution name</li>
  <li>test execution description</li>
  <li>created date/time</li>
  <li>updated date/time</li>
  <li>started date/time</li>
  <li>finished date/time</li>
  <li>testcases</li>
</ul>
-->
