
.content-area {
  width: calc(100vw - 280px);
  height: calc(100vh - 60px);
}

@media screen and (max-width: 992px) {
  .content-area {
      width: 100vw;
      height: calc(100vh - 60px);
  }
}


.chart-text {
  transform: translateY(0.25em);
}

.chart-number {
  font-size: 0.6em;
  line-height: 1;
  text-anchor: middle;
  transform: translateY(-0.25em);
}

.chart-label {
  font-size: 0.2em;
  text-transform: uppercase;
  text-anchor: middle;
  transform: translateY(0.7em);
}

.dashboard {
  display: flex;
}

