<clr-modal *ngIf="testcase" [(clrModalOpen)]="opened">
  <h3 class="modal-title">{{ 'TESTCASECREATEPAGE.CREATE_TESTCASE' | translate }}</h3>
  <div class="modal-body">
    <form (ngSubmit)="setOpened(false); createTestCase()" id="createTestCaseForm" #createTestCaseForm="ngForm" (keyup.enter)="createTestCaseForm.form.valid && createTestCaseForm.ngSubmit.emit();">
      <section class="form-block">

        <label>Детали</label>

        <div class="form-group">
          <label class="required" for="title">{{ 'TESTCASECREATEPAGE.TITLE' | translate }}</label>
          <input type="text" id="title" name="title" [(ngModel)]="testcase.title" #title="ngModel" required placeholder="{{ 'TESTCASECREATEPAGE.TITLE_PLACEHOLDER' | translate }}"
            size="35">
        </div>

        <div class="form-group">
          <label for="description">{{ 'TESTCASECREATEPAGE.DESCRIPTION' | translate }}</label>
          <input type="text" id="description" name="description" [(ngModel)]="testcase.description" #description="ngModel" placeholder="{{ 'TESTCASECREATEPAGE.DESCRIPTION_PLACEHOLDER' | translate }}"
            size="35">
        </div>

        <div class="form-group">
          <label for="priority">{{ 'TESTCASECREATEPAGE.PRIORITY' | translate }}</label>
          <div class="select">
            <select id="priority" name="priority" [(ngModel)]="testcase.priority" #priority="ngModel">
              <option *ngFor="let key of keys" [value]="key.value">{{ 'PRIORITIES.' + priorities[key] | translate }}</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="preconditions">{{ 'TESTCASECREATEPAGE.PRECONDITIONS' | translate }}</label>
          <input type="text" id="preconditions" name="preconditions" [(ngModel)]="testcase.preConditions" #preconditions="ngModel"
            placeholder="{{ 'TESTCASECREATEPAGE.PRECONDITIONS_PLACEHOLDER' | translate }}" size="35">
        </div>

        <clr-datagrid>
          <clr-dg-column>{{ 'TESTMANAGEMENTPAGE.TITLE' | translate }}</clr-dg-column>
          <clr-dg-row *clrDgItems="let step of testcase.steps" [clrDgItem]="step">
            <clr-dg-cell></clr-dg-cell>
          </clr-dg-row>
        </clr-datagrid>

      </section>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="setOpened(false)">{{ 'TESTMANAGEMENTPAGE.CANCEL' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="createTestCaseForm.ngSubmit.emit();" [disabled]="!createTestCaseForm.form.valid">{{ 'TESTCASECREATEPAGE.CREATE_BUTTON' | translate }}</button>
  </div>
</clr-modal>
