<clr-modal *ngIf="testcase" [(clrModalOpen)]="opened" [clrModalSize]="'lg'">
  <h3 class="modal-title">{{ 'TESTCASECREATEPAGE.CREATE_TESTCASE' | translate }}</h3>
  <div class="modal-body">
    <form (ngSubmit)="setOpened(false); createTestCase()" id="createTestCaseForm" #createTestCaseForm="ngForm" (keyup.enter)="createTestCaseForm.form.valid && createTestCaseForm.ngSubmit.emit();">
      <section class="form-block">

        <div class="form-group">
          <label class="required" for="title">{{ 'TESTCASECREATEPAGE.TITLE' | translate }}</label>
          <input [appAutofocus]="opened" type="text" id="title" name="title" [(ngModel)]="testcase.title" #title="ngModel" required placeholder="{{ 'TESTCASECREATEPAGE.TITLE_PLACEHOLDER' | translate }}"
            size="35">
        </div>

        <div class="form-group">
          <label for="description">{{ 'TESTCASECREATEPAGE.DESCRIPTION' | translate }}</label>
          <input type="text" id="description" name="description" [(ngModel)]="testcase.description" #description="ngModel" placeholder="{{ 'TESTCASECREATEPAGE.DESCRIPTION_PLACEHOLDER' | translate }}"
            size="35">
        </div>

        <div class="form-group">
          <label for="priority">{{ 'TESTCASECREATEPAGE.PRIORITY' | translate }}</label>
          <div class="select">
            <select id="priority" name="priority" [(ngModel)]="testcase.priority" #priority="ngModel">
              <option *ngFor="let key of keys" [value]="key.value">{{ 'PRIORITIES.' + priorities[key] | translate }}</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="preconditions">{{ 'TESTCASECREATEPAGE.PRECONDITIONS' | translate }}</label>
          <input type="text" id="preconditions" name="preconditions" [(ngModel)]="testcase.preConditions" #preconditions="ngModel"
            placeholder="{{ 'TESTCASECREATEPAGE.PRECONDITIONS_PLACEHOLDER' | translate }}" size="35">
        </div>

        <div class="form-group">
          <label for="tags">{{ 'TESTCASECREATEPAGE.TAGS' | translate }}</label>
          <input #tag type="text" id="tags" name="tags" (keyup.enter)="setTag(tag.value); tag.value = '';" placeholder="{{ 'TESTCASECREATEPAGE.TAGS_PLACEHOLDER' | translate }}"
            size="35">
          <button type="button" class="btn btn-sm btn-secondary" (click)="setTag(tag.value); tag.value = '';">
            <clr-icon shape="plus"></clr-icon> Add</button>

        </div>
        <div class="form-group">
          <label for="tag-list"></label>
          <span *ngFor="let tag of tags" class="label">{{ tag }}
            <a (click)="removeTag(tag);">
              <clr-icon shape="close"></clr-icon>
            </a>
          </span>
        </div>



        <div class="form-group">
          <label>Steps</label>
        </div>
        <br>
        <clr-datagrid *ngIf="testCaseSteps" [(clrDgSelected)]="selectedTestSteps">

          <clr-dg-action-bar>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-secondary" (click)="onAdd()">
                <clr-icon shape="plus"></clr-icon> {{ 'TESTMANAGEMENTPAGE.ADD' | translate }}</button>
              <button type="button" class="btn btn-sm btn-secondary" (click)="onDelete()" *ngIf="selectedTestSteps.length > 0">
                <clr-icon shape="close"></clr-icon> {{ 'TESTMANAGEMENTPAGE.DELETE' | translate }}</button>
              <button type="button" class="btn btn-sm btn-secondary" (click)="onEdit()" *ngIf="true === false;">
                <clr-icon shape="pencil"></clr-icon> {{ 'TESTMANAGEMENTPAGE.EDIT' | translate }}</button>
            </div>
          </clr-dg-action-bar>

          <clr-dg-column>{{ 'TESTMANAGEMENTPAGE.STEP_ACTION' | translate }}</clr-dg-column>
          <clr-dg-column>{{ 'TESTMANAGEMENTPAGE.TEST_DATA' | translate }}</clr-dg-column>
          <clr-dg-column>{{ 'TESTMANAGEMENTPAGE.EXPECTED_RESULT' | translate }}</clr-dg-column>
          <clr-dg-placeholder>We couldn't find any test steps!</clr-dg-placeholder>
          <clr-dg-row *clrDgItems="let step of testCaseSteps;" (clrDgItem)="step">
            <clr-dg-cell>
              <input type="text" class="form-control" id="stepAction" name="stepAction" [(ngModel)]="step.stepAction" placeholder="click to login button"
                size="30" />
            </clr-dg-cell>
            <clr-dg-cell>
              <input type="text" class="form-control" id="testData" name="stepData" [(ngModel)]="step.testData" #testData="ngModel" placeholder="login: login; pass: pass;"
                size="30">
            </clr-dg-cell>
            <clr-dg-cell>
              <input type="text" class="form-control" id="expectedResult" name="expectedResult" [(ngModel)]="step.expectedResult" placeholder="user should login successfully"
                size="30">
            </clr-dg-cell>
          </clr-dg-row>
          <clr-dg-footer>{{ testCaseSteps.length}} steps</clr-dg-footer>
        </clr-datagrid>

      </section>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="setOpened(false)">{{ 'TESTMANAGEMENTPAGE.CANCEL' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="createTestCaseForm.ngSubmit.emit();" [disabled]="!createTestCaseForm.form.valid">{{ 'TESTCASECREATEPAGE.CREATE_BUTTON' | translate }}</button>
  </div>
</clr-modal>
