<clr-modal *ngIf="opened" [(clrModalOpen)]="opened">
  <h3 class="modal-title">{{ 'TESTEXECUTIONCREATEPAGE.CREATE_TESTRUN' | translate }}</h3>
  <div class="modal-body">
    <form (ngSubmit)="setOpened(false); createTestrun()" id="createTestrunForm" #createTestrunForm="ngForm" (keyup.enter)="createTestrunForm.form.valid && createTestrunForm.ngSubmit.emit();">
      <section class="form-block">

        <div class="form-group">
          <label class="required" for="name">{{ 'TESTEXECUTIONCREATEPAGE.NAME' | translate }}</label>
          <input [appAutofocus]="opened" type="text" id="name" name="name" [(ngModel)]="testrun.name" #name="ngModel" required placeholder="{{ 'TESTEXECUTIONCREATEPAGE.NAME_PLACEHOLDER' | translate }}"
            size="35">
        </div>

        <div class="form-group">
          <label for="description">{{ 'TESTEXECUTIONCREATEPAGE.DESCRIPTION' | translate }}</label>
          <input type="text" id="description" name="description" [(ngModel)]="testrun.description" #description="ngModel" placeholder="{{ 'TESTEXECUTIONCREATEPAGE.DESCRIPTION_PLACEHOLDER' | translate }}"
            size="35">
        </div>

      </section>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="setOpened(false)">{{ 'TESTMANAGEMENTPAGE.CANCEL' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="createTestrunForm.ngSubmit.emit();" [disabled]="!createTestrunForm.form.valid">{{ 'TESTCASECREATEPAGE.CREATE_BUTTON' | translate }}</button>
  </div>
</clr-modal>
