<clr-tabs>
  <clr-tab>
    <button clrTabLink id="link1">Active</button>
    <clr-tab-content id="content1" *clrIfActive="true">
      <div class="content-area">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Android Regression Suite</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consectetur magnam eos amet sit rem.</p>
              </div>
              <div class="card-footer">
                <div class="progress labeled success">
                  <progress value="30" max="100" data-displayval="0%"></progress>
                </div>
                <a class="btn btn-sm btn-link">Run</a>
                <span></span>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">iOS Login Feature Suite</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consectetur magnam eos amet sit rem..</p>
              </div>
              <div class="card-footer">
                <div class="progress labeled success">
                  <progress value="70" max="100" data-displayval="10%"></progress>
                </div>
                <a class="btn btn-sm btn-link">Run</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Archieved</button>
    <clr-tab-content *clrIfActive>
      <div class="content-area">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Corporate Portal Regression Suite</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consectetur magnam eos amet sit rem.</p>
              </div>
              <div class="card-footer">
                <div class="progress labeled success">
                  <progress value="100" max="100" data-displayval="0%"></progress>
                </div>
                <a class="btn btn-sm btn-link">Edit</a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">iOS User Profile Feature Suite</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consectetur magnam eos amet sit rem..</p>
              </div>
              <div class="card-footer">
                <div class="progress labeled success">
                  <progress value="100" max="100" data-displayval="10%"></progress>
                </div>
                <a class="btn btn-sm btn-link">Edit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>
