.content-area {
    width: calc(100vw - 240px);
    height: calc(100vh - 60px);
}

@media screen and (max-width: 992px) {
    .content-area {
        padding: 0 !important;
        width: 100vw;
        height: calc(100vh - 60px);
    }
}
