<h4 *ngIf="selectedTestSuite">{{ selectedTestSuite.name }}</h4>
<div>
  <clr-datagrid *ngIf="testCases" [(clrDgSelected)]="selectedTestCases" [clrDgRowSelection]="true">

    <clr-dg-action-bar>
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-secondary" (click)="onAdd()" [disabled]="!selectedTestSuite">
          <clr-icon shape="plus"></clr-icon> {{ 'TESTMANAGEMENTPAGE.ADD' | translate }}</button>
        <button type="button" class="btn btn-sm btn-secondary" (click)="onDelete()" *ngIf="selectedTestCases.length > 0">
          <clr-icon shape="close"></clr-icon> {{ 'TESTMANAGEMENTPAGE.DELETE' | translate }}</button>
        <button type="button" class="btn btn-sm btn-secondary" (click)="onEdit()" *ngIf="selectedTestCases.length == 1">
          <clr-icon shape="pencil"></clr-icon> {{ 'TESTMANAGEMENTPAGE.EDIT' | translate }}</button>
        <button type="button" class="btn btn-sm btn-secondary" (click)="onCopy()" *ngIf="selectedTestCases.length == 1">
          <clr-icon shape="copy"></clr-icon> {{ 'TESTMANAGEMENTPAGE.COPY' | translate }}</button>
      </div>
    </clr-dg-action-bar>

    <!--<clr-dg-column style="width: 30px !important;">{{ 'TESTMANAGEMENTPAGE.PRIORITY' | translate }}</clr-dg-column>-->
    <clr-dg-column [clrDgField]="'order'" [clrDgSortOrder]="ascSort">{{ 'TESTMANAGEMENTPAGE.TITLE' | translate }}</clr-dg-column>
    <clr-dg-placeholder>{{ 'TESTMANAGEMENTPAGE.EMPTYSTATE_NOTESTCASES_TITLE' | translate }}</clr-dg-placeholder>
    <!--<clr-dg-column >Order</clr-dg-column>-->
    <!--<clr-dg-column>Status</clr-dg-column>-->
    <clr-dg-column>Автоматизирован</clr-dg-column>
    <!--<clr-dg-column>{{ 'TESTMANAGEMENTPAGE.TAGS' | translate }}</clr-dg-column>-->
    <!--<clr-dg-column style="width: 30px !important;">{{ 'TESTMANAGEMENTPAGE.TYPE' | translate }}</clr-dg-column>-->
    <!--<clr-dg-column>{{ 'PROJECTCREATEPAGE.STATUS' | translate }}</clr-dg-column>-->
    <clr-dg-row *clrDgItems="let testCase of testCases" [clrDgItem]="testCase">

      <!--
  <clr-dg-cell style="display: flex;">
      <clr-checkbox></clr-checkbox>
    <span style="align-self: center;">{{user.name}}</span>
  </clr-dg-cell>
-->

      <!--
    <clr-dg-cell [ngSwitch]="testCase.priority" style="text-align: center;">
      <clr-icon *ngSwitchCase="'BLOCKER'" title="{{ 'PRIORITIES.BLOCKER' | translate }}" class="blocker-color is-solid" shape="circle"></clr-icon>
      <clr-icon *ngSwitchCase="'CRITICAL'" title="{{ 'PRIORITIES.CRITICAL' | translate }}" class="critical-color is-solid" shape="circle"></clr-icon>
      <clr-icon *ngSwitchCase="'MAJOR'" title="{{ 'PRIORITIES.MAJOR' | translate }}" class="major-color is-solid" shape="circle"></clr-icon>
      <clr-icon *ngSwitchCase="'MINOR'" title="{{ 'PRIORITIES.MINOR' | translate }}" class="minor-color is-solid" shape="circle"></clr-icon>
      <clr-icon *ngSwitchCase="'TRIVIAL'" title="{{ 'PRIORITIES.TRIVIAL' | translate }}" class="trivial-color is-solid" shape="circle"></clr-icon>
    </clr-dg-cell>
    -->
      <clr-dg-cell>
        {{testCase.title}}
      </clr-dg-cell>

      <!--

    <clr-dg-cell>

      <span class="label label-purple" *ngFor="let tag of testCase.tags">
        {{ tag }}
      </span>

    </clr-dg-cell>
  -->

    <!--
    <clr-dg-cell>
      {{ 'TESTCASESTATUS.' + testCase.status | translate }}
    </clr-dg-cell>

    -->

    <clr-dg-cell *ngIf="testCase.status === 'AUTOMATED'">
      <clr-icon shape="check" style="color: #318700"></clr-icon>
    </clr-dg-cell>


      <!--
    <clr-dg-cell [ngSwitch]="testCase.type" style="text-align: center;">
      <clr-icon *ngSwitchCase="'POSITIVE'" class="positive-case" shape="happy-face"></clr-icon>
      <clr-icon *ngSwitchCase="'NEGATIVE'" class="negative-case" shape="sad-face"></clr-icon>

    </clr-dg-cell>
    -->

      <!-- TODO for execution
    <clr-dg-row-detail *clrIfExpanded [clrDgReplace]="false">


        <span><strong>description: </strong> {{ testCase.description }}</span>

    </clr-dg-row-detail>
    -->
      <!--
  <clr-dg-cell>
    {{ testCase.order}}
  </clr-dg-cell>
  -->

      <!--
    <clr-dg-cell>
      <div class="select">
        <select id="selects_1">
          <option>Untested</option>
          <option>In Progress</option>
          <option>Passed</option>
          <option>Failed</option>
          <option>Skipped</option>
        </select>
      </div>
    </clr-dg-cell>
-->
    </clr-dg-row>

    <clr-dg-footer>{{testCases.length}}</clr-dg-footer>
  </clr-datagrid>
</div>


<!-- CREATE TEST CASE -->
<app-create-test-case-modal [(opened)]="createOpened" (testcaseChange)="createTestCase($event);"></app-create-test-case-modal>

<!-- EDIT TEST CASE -->
<app-edit-test-case-modal [testcase]="selectedTestCases[0]" [(opened)]="editOpened" (testcaseChange)="updateTestCase($event);"></app-edit-test-case-modal>

<!-- DELETE TEST CASE -->
<app-delete-test-case-modal [(opened)]="deleteOpened" (confirmChange)="forceDelete($event)"></app-delete-test-case-modal>
