<clr-header class="header header-6">
  <div class="branding">
    <a routerLink="/">
      <span class="title">Test Storage</span>
    </a>
  </div>
  <div class="header-nav">
  </div>
  <div class="header-actions">
    <!--
    <a href="javascript://" class="nav-link nav-icon">
      <clr-icon shape="bell" class="has-badge is-solid"></clr-icon>
    </a>-->
    <clr-dropdown>
      <button class="nav-text" clrDropdownTrigger>
        john.doe@example.com
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a routerLink="/profile" clrDropdownItem>{{ 'HEADER.PROFILE' | translate }}</a>
        <div class="dropdown-divider"></div>
        <a routerLink="/settings" clrDropdownItem>{{ 'HEADER.SETTINGS' | translate }}</a>
        <div class="dropdown-divider"></div>
        <a (click)="logout()" clrDropdownItem>{{ 'HEADER.LOGOUT' | translate }}</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</clr-header>
