<div *ngIf="testSuites" class="wrapper">

  <div *ngIf="testSuites.length > 0; then existTestSuites else noExistTestSuites"></div>
  <ng-template #existTestSuites>

    <div class="content-wrapper">

      <div class="col-sm-12 col-md-12 col-lg-9">
        <app-test-cases [selectedTS]="selectedTestSuite"></app-test-cases>
      </div>

      <!-- TEST SUITES TREE COMPONENT -->
      <div *ngIf="testSuitesViewModel.length > 0" class="sidenav" [clr-nav-level]="2">
        <!-- TODO move to testsuites tree component -->

        <clr-tree-node *ngFor="let testSuite of testSuitesViewModel">
          <!--<button (click)="openTestSuite(testSuite)" class="clr-treenode-link">-->
          <clr-icon [attr.shape]="testSuite.icon"></clr-icon>
          {{testSuite.name}}
          <!--</button>-->
          <ng-template [(clrIfExpanded)]="testSuite.expanded">
            <clr-tree-node *ngFor="let subTestSuite of testSuite.children">
              <button clrVerticalNavLink (click)="openTestSuite(subTestSuite)" class="clr-treenode-link" [class.active]="subTestSuite._id === selectedTestSuite._id">
                <clr-icon [attr.shape]="subTestSuite.icon"></clr-icon>
                {{subTestSuite.name}}
              </button>
            </clr-tree-node>
          </ng-template>
        </clr-tree-node>
      </div>
    </div>
  </ng-template>

  <ng-template #noExistTestSuites>
    <div class="noexist-wrapper">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="no-testsuites">
          <img src="assets/add-project.png">
          <h4>{{ 'TESTMANAGEMENTPAGE.EMPTYSTATE_NOTESTSUITES_TITLE' | translate }}</h4>
          <p class="tips">{{ 'TESTMANAGEMENTPAGE.EMPTYSTATE_NOTESTSUITES_DESCRIPTION' | translate }}</p>
          <a class="btn btn-primary">{{ 'TESTMANAGEMENTPAGE.EMPTYSTATE_CREATETESTSUITE_BUTTON' | translate }}</a>
        </div>

      </div>
    </div>

  </ng-template>

</div>
