<div id="wrapper" [class.dark-theme]="themeService.theme">

  <!-- TODO @Input testsuite from testsuite tree component and show testsuite data -->
  <div id="testcases-wrapper" *ngIf="testcases">

    <div *ngIf="testcases.length > 0; then existTestcases else noExistTestcases"></div>

    <ng-template #existTestcases>
      <div id="template-wrapper">
        <div id="testcases">
          <div class="button-row">
            <a routerLink="create" class="create-button btn btn-primary">Create New Testcase</a>
          </div>

          <table *ngIf="testcases.length > 0;" class="table">
            <thead>
              <tr>
                <th>Testcase Title</th>

              </tr>
            </thead>
            <tr *ngFor="let testcase of testcases">
              <td><a [routerLink]="['./', testcase._id]">{{ testcase.title }}</a></td>
              <!--<td><a (click)="deleteTestcase(testcase._id);">X</a>-->
            </tr>
          </table>
        </div>

        <!-- TODO notify from testsuites tree to testcase list with @Output testsuite -->
        <app-testsuites-tree *ngIf="testcases.length > 0"></app-testsuites-tree>
      </div>
    </ng-template>


    <ng-template #noExistTestcases>
      <div class="noexist-wrapper">
        <div class="no-testcase">
          <img src="assets/add-project.png">
          <h4>You have not created Testsuites / Testcases yet.</h4>
          <p class="tips">Tap the 'Create Testsuite' button to get started</p>
          <button [routerLink]="['./create']" class="btn btn-primary">Create Testsuite</button>
        </div>
      </div>
    </ng-template>

  </div>

</div>