<clr-alerts>
  <clr-alert *ngFor="let notification of notifications" [clrAlertType]="'info'" [clrAlertAppLevel]="true" [ngSwitch]="notification.entity">
      <div *ngSwitchCase="'Testcase'" class="alert-item">
          <span class="alert-text">
              You have unreviewed testcases
          </span>
          <div class="alert-actions">
              <button class="btn alert-action" routerLink="/projects/93766f7810fe3988a97dc51139312242/test-management/review">{{ notification.action }}</button>
          </div>
      </div>
  </clr-alert>
</clr-alerts>

