<clr-modal *ngIf="opened" [(clrModalOpen)]="opened">
  <h3 class="modal-title">{{ 'DEVICECREATEPAGE.TITLE' | translate }}</h3>
  <div class="modal-body">
    <form clrForm (ngSubmit)="setOpened(false); createDevice()" id="createDeviceForm" #createDeviceForm="ngForm" (keyup.enter)="createDeviceForm.form.valid && createDeviceForm.ngSubmit.emit();">
      <section>

        <clr-input-container>
          <label class="required" for="manufacturer">{{ 'DEVICECREATEPAGE.MANUFACTURER' | translate }}</label>
          <input clrInput [appAutofocus]="opened" type="text" id="manufacturer" name="manufacturer" [(ngModel)]="device.manufacturer" #manufacturer="ngModel"
            required placeholder="{{ 'DEVICECREATEPAGE.MANUFACTURER_PLACEHOLDER' | translate }}" size="35">
        </clr-input-container>

        <clr-input-container>
          <label class="required" for="model">{{ 'DEVICECREATEPAGE.MODEL' | translate }}</label>
          <input clrInput type="text" id="model" name="model" [(ngModel)]="device.model" #model="ngModel" required placeholder="{{ 'DEVICECREATEPAGE.MODEL_PLACEHOLDER' | translate }}"
            size="35">
        </clr-input-container>

        <clr-select-container>
          <label for="type">{{ 'DEVICECREATEPAGE.TYPE' | translate }}</label>

            <select clrSelect id="type" name="type" [(ngModel)]="device.type" #type="ngModel">
              <option *ngFor="let deviceType of typeKeys" [value]="deviceType.value">{{ 'DEVICETYPES.' + deviceType.value | translate }}</option>
            </select>
        </clr-select-container>

        <clr-input-container>
          <label for="os">{{ 'DEVICECREATEPAGE.OS' | translate }}</label>
          <input clrInput type="text" id="os" name="os" [(ngModel)]="device.os" #os="ngModel" required placeholder="{{ 'DEVICECREATEPAGE.OS_PLACEHOLDER' | translate }}"
            size="35">
        </clr-input-container>

        <clr-input-container>
          <label for="version">{{ 'DEVICECREATEPAGE.OS_VERSION' | translate }}</label>
          <input clrInput type="text" id="version" name="version" [(ngModel)]="device.osVersion" #osVersion="ngModel" required placeholder="{{ 'DEVICECREATEPAGE.OS_VERSION_PLACEHOLDER' | translate }}"
            size="35">
        </clr-input-container>

      </section>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="setOpened(false)">{{ 'TESTMANAGEMENTPAGE.CANCEL' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="createDeviceForm.ngSubmit.emit();" [disabled]="!createDeviceForm.form.valid">{{ 'TESTCASECREATEPAGE.CREATE_BUTTON' | translate }}</button>
  </div>
</clr-modal>
