<div *ngIf="projects" class="content-area">

  <div *ngIf="projects.length > 0; then existProjects else noExistProjects"></div>
  <ng-template #existProjects>
    <a (click)="onAdd();" data-test-id="create-project" class="btn btn-primary">
      <clr-icon shape="plus"></clr-icon>
      {{ 'PROJECTSPAGE.CREATE' | translate }}
    </a>

    <div class="clr-row">



      <div *ngFor="let project of projects" class="clr-col-xl-3 clr-col-lg-4 clr-col-md-6 clr-col-sm-6 clr-col-xs-12" >

        <a routerLink="./{{project._id}}" class="card clickable" [clrDraggable]="project" clrDroppable (clrDrop)="onDrop($event, project)">

          <div class="card-img">

            <clr-dropdown class="edit-icon" [clrCloseMenuOnItemClick]="false">
              <a (click)="$event.stopPropagation(); false" clrDropdownTrigger>
                <clr-icon shape="ellipsis-vertical"></clr-icon>
              </a>
              <clr-dropdown-menu *clrIfOpen>
                <button type="button" (click)="$event.stopPropagation(); onEdit(project); false" clrDropdownItem>Edit</button>
                <button type="button" (click)="$event.stopPropagation(); onDelete(project); false" clrDropdownItem>Delete</button>
              </clr-dropdown-menu>
            </clr-dropdown>

            <div *ngIf="project.avatarColor" class="avatar" [style.backgroundColor]="getBackgroundColor(project)" [style.color]="getColor(project)">
              <div class="avatar-name">{{ project.name.charAt(0).toUpperCase() }}</div>
            </div>
          </div>
          <div class="card-block">
            <p class="card-title">{{ project.name }}</p>
            <p class="card-text">{{ project.description }}</p>
          </div>

          <clr-draggable-ghost *clrIfDragged>
              <div class="drop-location">
                  <div class="drop-location-cirle"></div>
                  <div class="drop-location-line"></div>
                </div>
          </clr-draggable-ghost>

        </a>

      </div>

    </div>

  </ng-template>







  <ng-template #noExistProjects>
    <div class="noexist-wrapper">
      <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
        <div class="no-project">
          <img src="assets/add-project.png">
          <h4>{{ 'PROJECTSPAGE.EMPTYSTATE_NOPROJECTS_TITLE' | translate }}</h4>
          <p class="tips">{{ 'PROJECTSPAGE.EMPTYSTATE_NOPROJECTS_DESCRIPTION' | translate }}</p>
          <a (click)="onAdd();" class="btn btn-primary">{{ 'PROJECTSPAGE.EMPTYSTATE_CREATEPROJECT_BUTTON' | translate }}</a>
        </div>

      </div>
    </div>

  </ng-template>

  <app-create-project-modal [(opened)]="createOpened" (projectChange)="createProject($event);"></app-create-project-modal>

  <app-edit-project-modal [project]="selectedProject" [(opened)]="editOpened" (projectChange)="updateProject($event);"></app-edit-project-modal>

  <app-delete-project-modal [(opened)]="deleteOpened" (confirmChange)="forceDelete($event)"></app-delete-project-modal>

  <app-project-wizard [(opened)]="projectWizardOpened" (projectChange)="createProject($event);"></app-project-wizard>

  <app-system-wizard></app-system-wizard>
</div>
