.content-area {
    width: 100vw;
    height: calc(100vh - 60px);
}

.edit-icon {
    position: absolute;
    right: 1px;
    top: 10px;
}

.card-img {
    height: 100px;
}

.avatar {
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.avatar-name {
    font-size: 300%;
    align-self: center;
}

.noexist-wrapper {
    display: flex;
    height: calc(100vh - 120px);
    align-items: center;
    align-self: center;
    justify-content: center;
}

.no-project {
    align-self: center;
    justify-content: center;
    text-align: center;
}

.no-project img {
    margin-bottom: 20px;
}

.no-project h4 {
    color: #616161;
}

.tips {
    font-size: 14px;
    color: #a2acb3;
    margin-bottom: 20px;
}
