<div *ngIf="projects" class="content-area">

  <app-project-wizard [(opened)]="projectWizardOpened"></app-project-wizard>

  <app-system-wizard></app-system-wizard>

  <div *ngIf="projects.length > 0; then existProjects else noExistProjects"></div>
  <ng-template #existProjects>
    <a (click)="create();" class="btn btn-primary">
      <clr-icon shape="plus"></clr-icon>
      {{ 'PROJECTSPAGE.CREATE' | translate }}
    </a>

    <div class="row">

      <div *ngFor="let project of projects" class="col-lg-3 col-md-6 col-sm-6 col-xs-12">

        <a routerLink="./{{project._id}}" class="card clickable">
          <div class="card-img">
            <img src="assets/placeholder_350x150.png" alt="..." />
          </div>
          <div class="card-block">
            <p class="card-title">{{ project.name }}</p>
            <p class="card-text">{{ project.description }}</p>
          </div>
        </a>
      </div>

    </div>

  </ng-template>







  <ng-template #noExistProjects>
    <div class="noexist-wrapper">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="no-project">
          <img src="assets/add-project.png">
          <h4>You have not created Projects yet.</h4>
          <p class="tips">Tap the 'Create Project' button to get started</p>
          <a (click)="create();" class="btn btn-primary">Create Project</a>
        </div>

      </div>
    </div>

  </ng-template>
</div>
