.navbar-fixed-left {
  width: 220px; /*140*/
  position: fixed;
  border-radius: 0;
  height: 100%;
  color: #FFF;
  background: #1b1e24; /*#293846;*/
  z-index: 10;
}

.navbar-fixed-left .navbar-brand {
  width: 220px; /*140*/
  height: 56px;
  /*border-bottom: 1px solid #525252; */
  border-bottom: 1px solid #e7e7e7;
  position: relative;
  bottom: 1px;
  right: 1px;
  background-color: #EAEAEA !important;
  color: #6f7b8a;
}

.navbar-fixed-left a {
  color: #a7b1c2;

}

.navbar-fixed-left span.label {
  float: right;
  position: relative;
  border-radius: 25px;
  top: 3px;
}

.fa-dashboard, .fa-folder-o, .fa-bar-chart-o, .fa-inbox, .fa-history {
  font-size: 14px;
  margin-left: 10px;
  margin-right: 6px;
}

.navbar-fixed-left li a {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 13px;
}

.navbar-fixed-left i.fa {
  position: relative;
  right: 7px;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 219px; /*139*/
}

.navbar-fixed-left .navbar-nav > li:hover {
  background: #22262e;
}
.navbar-fixed-left + .container {
  padding-left: 240px;  /*160*/
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 220px;  /*140*/
  background-color: #333;
}

.navbar-fixed-left .navbar-nav > li > .dropdown-menu > li > a:hover, .divider {
  background-color: #000;
}

.fa-chevron-down {
  float: right;
  font-size: 8px;
  position: relative;
  top: 4px;
}



/* sidebar collapsed */

.navbar-mini {
  width: 70px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  color: #FFF;
  z-index: 9999
}

.navbar-mini span.label {
  top:-30px;
  right: 3px;
}

.navbar-mini .navbar-brand {
  width: 70px;
  height: 56px;
  font-size: 0;
}

.navbar-mini li a {
  font-size: 10px;
  position: relative;
  right: 5px;
}
.navbar-mini li a span.sidebar-title {
  display: none;
}

.navbar-mini .navbar-nav > li {
  width: 69px;
  text-align: center;
}

.navbar-mini .fa-chevron-down {
 display: none;
}

.navbar-mini .fa-dashboard, .navbar-mini .fa-bar-chart-o, .navbar-mini .fa-inbox, .navbar-mini .fa-history, .navbar-mini .fa-folder-o {
  display: inline-block;
  font-size: 26px;
  position: relative;
  left: 0;
  text-align: center;
}