<div class="login-wrapper">
  <form class="login" (ngSubmit)="f.form.valid && login()" #f="ngForm" (keyup.enter)="f.ngSubmit.emit()" novalidate>
    <label class="title">
      <h3 class="welcome">{{ 'LOGINPAGE.WELCOME' | translate }}</h3>
      Test Storage
    </label>
    <div class="login-group">
      <input class="username" type="text" id="username" name="username" [(ngModel)]="user.username" #username="ngModel" required
        placeholder="{{ 'LOGINPAGE.USERNAME' | translate }}">
      <input class="password" type="password" id="password" name="password" [(ngModel)]="user.password" #password="ngModel" required
        placeholder="{{ 'LOGINPAGE.PASSWORD' | translate }}">
      <div class="checkbox">
        <input type="checkbox" id="rememberme">
        <label for="rememberme">
          {{ 'LOGINPAGE.REMEMBER_ME' | translate }}
        </label>
      </div>
      <div *ngIf="f.form.valid && (username.dirty || username.touched || password.dirty || password.touched)">
        <div *ngIf="error" class="error active">
          {{ error }}
        </div>
      </div>
      <div *ngIf="username.invalid && (username.dirty || username.touched)">
        <div *ngIf="username?.errors.required" class="error active">
          {{ 'LOGINPAGE.LOGIN_REQUIRED' | translate }}
        </div>
      </div>
      <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <div *ngIf="password?.errors.required" class="error active">
          {{ 'LOGINPAGE.PASSWORD_REQUIRED' | translate }}
        </div>
      </div>
      <button type="submit" class="btn btn-primary">{{ 'LOGINPAGE.LOGIN_BUTTON' | translate }}</button>
      <a routerLink="/signup" class="signup">{{ 'LOGINPAGE.REGISTER_BUTTON' | translate }}</a>
    </div>
  </form>
</div>
