<div id="wrapper" [class.dark-theme]="themeService.theme">
  <div id="profile" *ngIf="profile.firstName">
    <div class="profile-data">
      <div class="avatar-image" *ngIf="profile.photo;else no_image">
        <img src="{{ profile.photo }}">
      </div>

      <ng-template #no_image>
        <div class="avatar-image">
          <img src="assets/noavatar.png">
        </div>
      </ng-template>

      <div class="profile-contacts">
        <div class="profile-fullname">
          {{ profile.firstName }} {{ profile.lastName }}
        </div>
        <div class="profile-jobtitle">
          {{ profile.workInfo.jobTitle }}
        </div>
        <div class="profile-register-date">
          {{ 'USERPROFILEPAGE.REGISTERED' | translate }}: {{ profile.created | date: 'dd/MM/yyyy' }}
          <!-- TODO different dates for EU and US aka 15.01.2017 -->
        </div>

      </div>
      <div class="profile-social-networks">
        <ul *ngIf="profile.social">
          <li *ngIf="profile.social.skype"><a href="{{ profile.social.skype }}" target="_blank"><i class="fa fa-skype"></i></a></li>
          <li *ngIf="profile.social.github"><a href="{{ profile.social.github }}" target="_blank"><i class="fa fa-github"></i></a></li>
          <li *ngIf="profile.social.linkedin"><a href="{{ profile.social.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li *ngIf="profile.social.facebook"><a href="{{ profile.social.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li *ngIf="profile.social.twitter"><a href="{{ profile.social.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li *ngIf="profile.social.instagram"><a href="{{ profile.social.instagram }}" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li *ngIf="profile.social.vk"><a href="{{ profile.social.vk }}"><i class="fa fa-vk" target="_blank"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="profile-info">
      <div class="profile-work">
        <h6>{{ 'USERPROFILEPAGE.WORK_INFORMATION' | translate }}</h6>
        <table class="table">
          <thead>
            <tr>
              <th>{{ 'USERPROFILEPAGE.EMAIL' | translate }}</th>
              <th>{{ 'USERPROFILEPAGE.PHONE_NUMBER' | translate }}</th>
              <th>{{ 'USERPROFILEPAGE.COMPANY' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ profile.email }}</td>
              <td>{{ profile.workInfo.phoneNumber }}</td>
              <td>{{ profile.workInfo.companyName }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="profile-personal">
        <h6>{{ 'USERPROFILEPAGE.PERSONAL_INFORMATION' | translate }}</h6>
        <table class="table">
          <thead>
            <tr>
              <th>{{ 'USERPROFILEPAGE.EMAIL' | translate }}</th>
              <th>{{ 'USERPROFILEPAGE.PHONE_NUMBER' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>johndoe@example.com</td>
              <td>+7 495 000-11-00</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>