<div id="wrapper" *ngIf="profile">
  <div class="profile-data">
    <div class="avatar-image">
      <img src="assets/noavatar.png">
    </div>
    <div class="profile-contacts">
      <div class="profile-fullname">
        {{ profile.firstName }} {{ profile.lastName }}
      </div>
      <div class="profile-jobtitle">
        {{ profile.work.title }}
        <!-- Senior Test Analyst -->
      </div>
      <div class="profile-register-date">
        Registered: {{ profile.created }}
        <!-- 15.01.2017 -->
      </div>

    </div>
    <div class="profile-social-networks">
      <ul *ngIf="profile.social">
        <li *ngIf="profile.social.github"><a href="{{ profile.social.github }}" target="_blank"><i class="fa fa-github"></i></a></li>
        <li *ngIf="profile.social.linkedin"><a href="{{ profile.social.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <li *ngIf="profile.social.facebook"><a href="{{ profile.social.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li *ngIf="profile.social.twitter"><a href="{{ profile.social.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li *ngIf="profile.social.instagram"><a href="{{ profile.social.instagram }}" target="_blank"><i class="fa fa-instagram"></i></a></li>
        <li *ngIf="profile.social.vk"><a href="{{ profile.social.vk }}"><i class="fa fa-vk" target="_blank"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="profile-info">
    <div class="profile-work">
      <h6>Work Information</h6>
      <table class="table">
        <thead>
          <tr>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Company</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ profile.email }}</td>
            <td>{{ profile.work.phone }}</td>
            <td>{{ profile.work.company }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="profile-personal">
      <h6>Personal Information</h6>
      <table class="table">
        <thead>
          <tr>
            <th>Email</th>
            <th>Phone Number</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>johndoe@example.com</td>
            <td>+7 495 000-11-00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>