<div id="wrapper">

  <div class="create-form">


    <div class="form-group row">
      <label for="project-name" class="col-2 col-form-label">Project name</label>
      <div class="col-6">
        <input class="form-control" type="text" placeholder="Project name" id="project-name">
      </div>
    </div>
    <div class="form-group row">
      <label for="description" class="col-2 col-form-label">Description</label>
      <div class="col-6">
        <input class="form-control" type="text" placeholder="Description" id="description">
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Create Project</button>
      </div>
    </div>


  </div>

</div>