<clr-modal *ngIf="project" [clrModalOpen]="opened" [clrModalSize]="'lg'" (clrModalOpenChange)="setOpened($event)">
  <h3 class="modal-title">{{ 'PROJECTCREATEPAGE.TITLE' | translate }}</h3>
  <div class="modal-body">
    <form clrForm (ngSubmit)="setOpened(false); createProject()" id="createProjectForm" #createProjectForm="ngForm" (keyup.enter)="createProjectForm.form.valid && createProjectForm.ngSubmit.emit();">
      <section>
        <clr-input-container>
          <label for="name" class="required">{{ 'PROJECTCREATEPAGE.NAME' | translate }}</label>
          <input clrInput type="text" id="name" name="name" [(ngModel)]="project.name" #name="ngModel" size="35" required minlength="2">
        </clr-input-container>
        <clr-input-container>
          <label for="description">{{ 'PROJECTCREATEPAGE.DESCRIPTION' | translate }}</label>
          <input clrInput type="text" id="description" name="description" [(ngModel)]="project.description" #description="ngModel" size="35">
        </clr-input-container>
      </section>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="setOpened(false)">{{ 'COMMON.CANCEL_BUTTON' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="createProjectForm.ngSubmit.emit();" [disabled]="!createProjectForm.form.valid">{{ 'COMMON.CREATE_BUTTON' | translate }}</button>
  </div>
</clr-modal>
