<div id="treeComponent">
  <!--
  <ul class="directory">
    <li class="folder">app
      <ul>
        <li class="folder">commands</li>
        <li class="folder">config
          <ul>
            <li class="folder">local
              <ul>
                <li class="file">app.php</li>
                <li class="file">database.php</li>
              </ul>
            </li>
            <li class="file">packages</li>
            <li class="file">app.php</li>
          </ul>
        </li>
        <li class="folder">controllers</li>
        <li class="file">filters.php</li>
        <li class="file">routes.php</li>
      </ul>
    </li>
    <li class="file">composer.json</li>
  </ul>
  -->
  <button (click)="createNewTestsuite();" class="btn btn-primary">Create testsuite</button>

  <tree-root *ngIf="testsuitesViewModel" #tree [options]="options" [nodes]="testsuitesViewModel"></tree-root>

</div>