<div class="notifications" [class.dark-theme]="themeService.theme">
  <div class="header">Notifications</div>
  <div class="notifications-container">
    <ul>

       <li>
        <a href="#">
          <div class="notification">
            <div class="notif-icon">
              <i class="fa fa-2x fa-list-alt"></i>
            </div>
            <div class="notif-container">
              <h6>'Regression' Test Plan assigned to you</h6>
              <span>14 mins ago</span>
            </div>
          </div>
        </a>
      </li>

      <li>
        <a href="#">
          <div class="notification">
            <div class="notif-icon">
              <i class="fa fa-2x fa-check-circle"></i>
            </div>
            <div class="notif-container">
              <h6>You mark 'Smoke' Test Plan as completed</h6>
              <span>38 mins ago</span>
            </div>
          </div>
        </a>
      </li>

      <li>
        <a href="#">
          <div class="notification">
            <div class="notif-icon">
              <i class="fa fa-2x fa-envelope"></i>
            </div>
            <div class="notif-container">
              <h6>Message from John Doe received</h6>
              <span>8 hours ago</span>
            </div>
          </div>
        </a>
      </li>

      <li>
        <a href="#">
          <div class="notification">
            <div class="notif-icon">
              <i class="fa fa-2x fa-cog"></i>
            </div>
            <div class="notif-container">
              <h6>Update 0.30.01 available</h6>
              <span>2 days ago</span>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="footer"><a href="#">Show More...</a></div>
</div>