<div *ngIf="users" id="wrapper" [class.dark-theme]="themeService.theme">

  <div>
    <a class="btn btn-primary">Create New User</a>
    <br>
    <table *ngIf="users.length > 0;" class="table table-striped">
      <thead>
        <tr>
          <th>User name</th>
          <th>email</th>
          <th>Projects</th>
          <th>Created</th>
          <th>Updated</th>
          <th>Created By</th>
          <th>Updated By</th>
          <th></th>
        </tr>
      </thead>
      <tr *ngFor="let user of users">
        <td><a [routerLink]="['./', user._id]">{{ user.lastName }} {{ user.firstName }}</a></td>
        <td>{{ user.email }}</td>
        <td>{{ user.projects }}</td>
        <td>{{ user.created }}</td>
        <td>{{ user.updated }}</td>
        <td>{{ user.createdBy }}</td>
        <td>{{ user.updatedBy }}</td>
        <td><a (click)="deleteUser(user._id);">Delete</a>
      </tr>
    </table>

  </div>






</div>