:host {
    display: block;
}

#wrapper {
    height: 100%;
    overflow: hidden;
    min-height: 740px;
    background-color: #FFF;
    padding: 20px;
}

#wrapper.dark-theme {
    background-color: #283242;
    color: #FFF;
}

.button-row {
    display: flex;
    justify-content: flex-end;
}

.create-button {
    align-self: flex-end;
    margin-bottom: 20px;
}

.delete-button {
    position: absolute;
    right: 0;
}

.align-end {
    text-align: end;
}

.table td {
    vertical-align: center !important;
}

.btn-secondary {
    font-size: 13px;
}