#login-wrapper {
    display: flex;
    align-self: center;
    min-height: 700px; 
}

#login-wrapper.dark-theme {
   background:  #283242;
}

#login-wrapper.dark-theme #logo-text,
#login-wrapper.dark-theme #logo-strong,
#login-wrapper.dark-theme #login h2 {
   color:  #FFF;
}

#login {
    width: 350px;
    margin: auto;
}

#login h2 {
    text-align: center;
    padding-top: 20px;
}

#login form {
    padding-top: 40px;
}

.center {
    margin: 0, auto;
}

#logo {
    text-align: center;
    padding-top: 100px;
}

#logo-text {
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 30px;
}

#logo-strong {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 30px;
}