<div *ngIf="projects" id="wrapper" [class.dark-theme]="themeService.theme">

  <div *ngIf="projects.length > 0; then existProjects else noExistProjects"></div>

  <ng-template #existProjects>
    <table *ngIf="projects.length > 0;" class="table table-striped">
      <thead>
        <tr>
          <th>Project Name</th>
          <th>Description</th>
          <th>Enabled</th>
        </tr>
      </thead>
      <tr *ngFor="let project of projects">
        <td><a [routerLink]="['./', project._id]">{{ project.name }}</a></td>
        <td>{{ project.description }}</td>
        <td>{{ project.enabled }}</td>
      </tr>
    </table>
  </ng-template>


  <ng-template #noExistProjects>
    <div class="noexist-wrapper">
      <div class="no-project">
        <img src="assets/add-project.png">
        <h4>You have not created Projects yet.</h4>
        <p class="tips">Tap the 'Create Project' button to get started</p>
        <a routerLink="create" class="btn btn-primary">Create Project</a>
      </div>
    </div>
  </ng-template>




</div>