:host {
    display: block
}

#wrapper {
    padding: 20px;
}

.projects-wrapper {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 900px) {
    .projects-wrapper {
        justify-content: center;
    }
}

@media (max-width: 850px) {
    #wrapper {
        padding: 0;
    }
    #wrapper .project-card {
        width: 100%;
    }
    #wrapper .card-img-top {
        width: 100%;
    }
}

.project-card {
    margin: 25px;
    width: 300px;
    box-sizing: border-box;
    /*box-shadow: 0 1px 0px #dfe2e7;*/
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
    /*#dfe2e7;*/
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.card-img-top {
    width: 300px;
}

.card-block {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
}

.card-block h1 {
    text-align: center;
}

.edit-icon {
    color: #fff;
    position: absolute;
    display: none;
    font-size: 20px;
    right: 15px;
    top: 15px;
}

.project-card:hover>.edit-icon {
    display: flex;
}

.project-card:hover>.edit-button {
    visibility: visible;
}

.project-card:hover>.overlap {
    opacity: 0.9;
}

.overlap {
    opacity: 1;
}

.edit-button {
    visibility: hidden;
    margin: 10px;
    background-color: #999;
    border-color: #777;
}

#wrapper.dark-theme div.project-card {
    background-color: #2d3035;
}

.project-card:hover>.edit-button,
#wrapper.dark-theme .project-card:hover>.edit-button {
    background-color: #0275d8;
    border-color: #0275d8;
}

#wrapper.dark-theme .edit-button {
    background-color: #303C4D;
    border-color: #1B2531;
}

.create-card {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: 2px dashed #999;
    box-shadow: 0 0 0;
    background: inherit;
}

.create-card .card-block {
    align-self: center;
    justify-content: center;
}

.create-button {
    margin: 10px;
}

.noexist-wrapper {
    display: flex;
    height: 600px;
    align-items: center;
    justify-content: center;
}

.no-project {
    width: auto;
    align-self: center;
    justify-content: center;
    text-align: center;
}

.no-project img {
    margin-bottom: 20px;
}

.no-project h4 {
    color: #616161;
}

.tips {
    font-size: 12px;
    color: #a2acb3;
    margin-bottom: 20px;
}

.users {
    margin-top: auto;
    width: 150px;
}


/* DARK THEME */


/* TODO WHITE ICON */

#wrapper.dark-theme .no-project h5 {
    color: #FFF;
}

#wrapper.dark-theme .card {
    background: inherit;
}

#wrapper.dark-theme div.create-card {
    background: none;
}