.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  color: #FFF;
  z-index: 10;
}

.navbar-fixed-left .navbar-brand {
  width: 140px;
  height: 52px;
  /*border-bottom: 1px solid #525252; */
  border-bottom: 1px solid #e7e7e7; 
  position: relative;
  bottom: 1px;
  right: 1px;
  background-color: #EAEAEA !important;
  color: #333;
}

.navbar-fixed-left a {
  color: #FFF;
}

.navbar-fixed-left li a {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.navbar-fixed-left i.fa {
  position: relative;
  right: 7px;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
  background-color: #333; 
}

.navbar-fixed-left .navbar-nav > li > .dropdown-menu > li > a:hover, .divider {
  background-color: #000; 
}

.fa-chevron-down {
  float: right;
  font-size: 8px; 
  position: relative;
  top: 4px;
}

.fa-dashboard, .fa-folder-o, .fa-bar-chart-o, .fa-inbox, .fa-history {
  display: none;
}

/* sidebar collapsed */

.navbar-mini {
  width: 70px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  color: #FFF;
  z-index: 9999;

}

.navbar-mini .navbar-brand {
  width: 70px;
  height: 52px;
  font-size: 0;
}

.navbar-mini li a {
  font-size: 10px;
  position: relative;
  right: 5px;
}

.navbar-mini .navbar-nav > li {
  width: 69px;
  text-align: center;
}

.navbar-mini .fa-chevron-down {
 display: none;
}

.navbar-mini .fa-dashboard, .navbar-mini .fa-bar-chart-o, .navbar-mini .fa-inbox, .navbar-mini .fa-history, .navbar-mini .fa-folder-o {
  display: inline-block;
  font-size: 26px;
  position: relative;
  left: 9px;
  text-align: center;
  float: left;
}