<div class="row">
	<div class="col-md-8">
		<div class="table-responsive">
			<table class="table table-striped">
				<thead class="thead-default">
					<tr>
						<th></th>
						<th>UID</th>
						<th>Last Name</th>
						<th>First Name</th>
						<th>Email</th>
						<th>Active</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let user of users">
						<td>Checkbox</td>
						<td>{{ user.id }}</td>
						<td>{{ user.lastName }}</td>
						<td>{{ user.firstName }}</td>
						<td>{{ user.email }}</td>
						<td>{{ user.active }}</td>
						<td>Delete</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>