:host {
    display: block;
}

#wrapper {
    height: 100%;
    overflow: hidden;
    min-height: 740px;
    background-color: #FFF;
    padding: 20px;
}

#wrapper.dark-theme {
    background-color: #283242;
    color: #FFF;
}