<div class="content-area">
  <div class="row">
    <div style="border: 1px dashed red; height: 500px;" class="col-sm-12 col-md-9 col-lg-9"></div>
    <div style="border: 1px dashed green; height: 500px;" class="col-sm-12 col-md-3 col-lg-3">

      <clr-tree-node *ngFor="let testsuite of testSuitesViewModel" [(clrSelected)]="testsuite.selected">

        {{testsuite.name}}
        <ng-template [(clrIfExpanded)]="testsuite.expanded">
          <clr-tree-node *ngFor="let subtestsuite of testsuite.children" [(clrSelected)]="subtestsuite.selected">
            {{subtestsuite.name}}
          </clr-tree-node>
        </ng-template>
      </clr-tree-node>

    </div>
  </div>
