<div class="content-area">
  <div class="clr-row">
    <div style="border: 1px dashed red; height: 90vh;" class="clr-col-sm-12 clr-col-md-9 clr-col-lg-9"></div>
    <div style="border: 1px dashed green; height: 90vh;" class="clr-col-sm-12 clr-col-md-3 clr-col-lg-3">

      <clr-tree>
        <clr-tree-node *clrRecursiveFor="let testSuite of testSuitesViewModel; getChildren: getChildren"
          [(clrSelected)]="testSuite.selected" [(clrExpanded)]="testSuite.expanded">
          {{ testSuite.name }}
        </clr-tree-node>
      </clr-tree>

    </div>
  </div>
