<div id="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="image">
          <img src="/assets/404.png">
        </div>
        <div class="error-template">
          <h2>{{ '404.ERROR_TITLE' | translate }}</h2>
          <div class="error-details">
            {{ '404.ERROR_DESCRIPTION' | translate }}
          </div>
          <div class="error-actions">
            <a routerLink="/" class="btn btn-primary btn-lg">
              <span class="fa fa-home"></span>
              {{ '404.HOME_BUTTON' | translate }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
