.navigation-bar {
  background: #FFF;
}
.navigation-bar .toggle, .navigation-bar .brand {
  display: inline-block;
}
.navigation-bar .link {
  display: block;
  width: 100%;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  color: #777;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.navigation-bar .link:hover, .navigation-bar .link:active {
   color: #333; 
}

.navigation-bar .toggle {
  padding: 1em;
  color: #7a7f8c;
  vertical-align: middle;
}

@media (min-width: 48em) {
  .navigation-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navigation-bar .left, .navigation-bar .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .navigation-bar .link {
    width: auto;
  }
  .navigation-bar .right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

}
.navigation-bar div {
  display: none;
}
@media (min-width: 48em) {
  .navigation-bar div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 48em) {
  .navigation-bar.active .toggle {
    color: white;
  }
  .navigation-bar.active div {
    display: block;
  }
}




/* ICONS */
.fa-bars {
    font-size: 20px; /* 26 is better */
    position: relative;
    top: 2px;
    color: #7a7f8c;
    cursor: pointer;
}

.glyphicon.glyphicon-bell, .glyphicon.glyphicon-cog, .fa-bell {
    font-size: 20px;
}

.fa-power-off, .fa-user {
    color: #676a6c;
}

.icon-info {
    position: relative;
    cursor: pointer;
}
.navi i {
    font-size: 20px;
}

.label.label-primary {
    border-radius: 50%;
    font-size: 9px;
    left:23px;
    position: absolute;
    top: 10px;
}

.icon-info .label {
    border: 2px solid #ffffff;
    font-weight: 500;
    padding: 3px 5px;
    text-align: center;
}
/* ICONS END */

