<header>
  <nav class="navigation-bar" [class.dark-theme]="themeService.theme">


    <div class="left">
      <a id="menu_toggle" class="toggle" (click)="collapseToggle();"><i class="fa fa-bars"></i></a>
    </div>
    <div class="right" [class.show-right]="sidebarCollapsed">

      <a class="icon-info link dropbtn" (click)="shown !== 'NOTIFICATIONS' ? shown = 'NOTIFICATIONS' : shown = ''" [clickOut]="shown === 'NOTIFICATIONS'"
        (clickOutEvent)="closeDropdown()"><i class="fa fa-bell" aria-hidden="true"></i>
        <span class="notifications-alarm"></span>
      </a>
      <div class="dropdown-content" [class.show]="shown === 'NOTIFICATIONS'">
        <app-notifications></app-notifications>
      </div>

      <a class="link" routerLink="/settings"><i class="fa fa-cog"></i></a>




      <li class="link dropdown-item" [clickOut]="shown === 'SETTINGS'" (clickOutEvent)="closeDropdown()">
        <a class="dropbtn" id="header-person" (click)="shown !== 'SETTINGS' ? shown = 'SETTINGS' : shown = ''">{{ user.firstName }} {{ user.lastName }} <span class="fa fa-angle-down" [class.chevron-rotated]="shown === 'SETTINGS'"></span></a>

        <div class="dropdown-content" [class.show]="shown === 'SETTINGS'">
          <ul>
            <li><a routerLink="/profile"><i class="fa fa-user"></i> {{ 'HEADER.USER_PROFILE' | translate }}</a></li>
            <li><a id="logout" (click)="logout()" (clickOutEvent)="closeDropdown()"><i class="fa fa-power-off"></i> {{ 'HEADER.LOGOUT' | translate }}</a></li>
          </ul>
        </div>
      </li>
    </div>

  </nav>
</header>