<div>

  <form>
    <section class="form-block">

      <div class="form-group">
        <label for="theme">{{ 'MAINSETTINGS.THEME' | translate }}</label>
        <div class="toggle-switch">
          <input type="checkbox" id="theme">
          <label for="theme">{{ 'MAINSETTINGS.THEME_BRIGHT' | translate }}</label>
          <label for="theme">{{ 'MAINSETTINGS.THEME_DARK' | translate }}</label>
        </div>
      </div>
      <div class="form-group">
        <label for="language">{{ 'MAINSETTINGS.LANGUAGE' | translate }}</label>
        <div class="select">
          <select id="language" #langSelect (change)="translateService.use(langSelect.value)">
            <option *ngFor="let lang of translateService.getLangs()" [value]="lang" [selected]="lang === translateService.currentLang">{{ lang }}</option>
            <!--<option>{{ 'MAINSETTINGS.RUSSIAN' | translate }}</option>
            <option>{{ 'MAINSETTINGS.ENGLISH' | translate }}</option>-->
            <!--
            <option>Spanish</option>
            <option>German</option>
            <option>Portugal</option>
            -->
          </select>
        </div>
      </div>

    </section>
  </form>
</div>
