<div class="nav-content">

  <a clrVerticalNavLink routerLink="./dashboard" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="dashboard"></clr-icon>
    Dashboard
  </a>

  <div class="nav-divider"></div>
  <a clrVerticalNavLink routerLink="./requirements" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="file-group"></clr-icon>
    Requirements
  </a>

  <a clrVerticalNavLink routerLink="./test-management" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="list"></clr-icon>
    Test Management
  </a>

  <div class="nav-divider"></div>
  <a clrVerticalNavLink routerLink="./test-executions" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="tasks"></clr-icon>
    Test Executions
  </a>



  <a clrVerticalNavLink routerLink="./reports" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="bar-chart"></clr-icon>
    Reports
  </a>

  <a clrVerticalNavLink class="nav-bottom" routerLink="./settings" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="cog"></clr-icon>
    Settings
  </a>

</div>
