<div class="nav-content">

  <a clrVerticalNavLink routerLink="./dashboard" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="dashboard"></clr-icon>
    {{ 'SIDEBAR.DASHBOARD' | translate }}
  </a>

  <div class="nav-divider"></div>
  <a clrVerticalNavLink routerLink="./requirements" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="file-group"></clr-icon>
    {{ 'SIDEBAR.REQUIREMENTS' | translate }}
  </a>

  <a clrVerticalNavLink routerLink="./test-management" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="list"></clr-icon>
    {{ 'SIDEBAR.TEST_MANAGEMENT' | translate }}
  </a>

  <div class="nav-divider"></div>
  <a clrVerticalNavLink routerLink="./test-executions" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="tasks"></clr-icon>
    {{ 'SIDEBAR.TEST_EXECUTIONS' | translate }}
  </a>



  <a clrVerticalNavLink routerLink="./reports" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="bar-chart"></clr-icon>
    {{ 'SIDEBAR.REPORTS' | translate }}
  </a>

  <a clrVerticalNavLink routerLink="./settings" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="cog"></clr-icon>
    {{ 'SIDEBAR.PROJECT_SETTINGS' | translate }}
  </a>

</div>
