.content-area {
    width: calc(100vw - 280px);
    height: calc(100vh - 60px);
}

@media screen and (max-width: 992px) {
    .content-area {
        width: calc(100vw - 20px);
        height: calc(100vh - 60px);
    }
}

.chart-text {
    transform: translateY(0.25em);
}

.chart-number {
    font-size: 0.6em;
    line-height: 1;
    text-anchor: middle;
    transform: translateY(-0.25em);
}

.chart-label {
    font-size: 0.2em;
    text-transform: uppercase;
    text-anchor: middle;
    transform: translateY(0.7em);
}

.card-title {
    color: #999;
    font-size: 100%;
    text-transform: uppercase;
}

.card-description {
    padding-top: 40px;
    font-size: 80px;
    text-align: center;
    color: #007cbb;
}

.card-block {
    overflow: hidden;
}

.card-container {
    height: 145px;
}

.card-container {
    text-align: center;
}

.card-ci {
    font-size: 20px;
    position: relative;
    bottom: 26px;
}

.success {
    color: #5ea41c;
}

.bar {
    fill: #aaa;
    height: 21px;
    transition: fill .3s ease;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
}

.bar .text {
    fill: #555;
}

.chart:hover .bar,
.chart:focus .bar {
    fill: #aaa;
}

.bar:hover,
.bar:focus {
    fill: red !important;
}

.bar:hover .text,
.bar:focus .text {
    fill: red;
}

.bar-chart {
    background: white;
    width: 700px;
    height: 100px;
    border-left: 1px dotted #555;
    border-bottom: 1px dotted #555;
    padding: 20px 20px 20px 0;
}
