<clr-modal *ngIf="testsuite" [(clrModalOpen)]="opened">
  <h3 class="modal-title">{{ 'TESTSUITECREATEPAGE.CREATE_TESTSUITE' | translate }}</h3>
  <div class="modal-body">
    <form (ngSubmit)="setOpened(false); updateTestSuite()" id="editTestSuiteForm" #editTestSuiteForm="ngForm" (keyup.enter)="editTestSuiteForm.form.valid && editTestSuiteForm.ngSubmit.emit();">
      <section class="form-block">

        <label>Детали</label>

        <div class="form-group">
          <label class="required" for="name">{{ 'TESTSUITECREATEPAGE.NAME' | translate }}</label>
          <input type="text" id="name" name="name" [(ngModel)]="testsuite.name" #name="ngModel" required placeholder="{{ 'TESTSUITECREATEPAGE.NAME_PLACEHOLDER' | translate }}"
            size="35">
        </div>

        <div class="form-group">
          <label for="description">{{ 'TESTSUITECREATEPAGE.DESCRIPTION' | translate }}</label>
          <input type="text" id="description" name="description" [(ngModel)]="testsuite.description" #description="ngModel" placeholder="{{ 'TESTSUITECREATEPAGE.DESCRIPTION_PLACEHOLDER' | translate }}"
            size="35">
        </div>



      </section>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="setOpened(false)">{{ 'COMMON.CANCEL_BUTTON' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="editTestSuiteForm.ngSubmit.emit();" [disabled]="!editTestSuiteForm.form.valid">{{ 'COMMON.EDIT_BUTTON' | translate }}</button>
  </div>
</clr-modal>
