<clr-modal *ngIf="testcase !== undefined" [(clrModalOpen)]="opened" [clrModalSize]="'lg'">
  <h3 class="modal-title">{{ 'TESTCASECREATEPAGE.EDIT_TESTCASE' | translate }}</h3>
  <div class="modal-body">
    <form (ngSubmit)="setOpened(false); updateTestCase(testcase)" id="editTestCaseForm" #editTestCaseForm="ngForm" (keyup.enter)="editTestCaseForm.form.valid && editTestCaseForm.ngSubmit.emit();">
      <section class="form-block">

        <div class="form-group">
          <label class="required" for="title">{{ 'TESTCASECREATEPAGE.TITLE' | translate }}</label>
          <input [appAutofocus]="opened" type="text" id="title" name="title" [(ngModel)]="testcase.title" #title="ngModel" required
            placeholder="{{ 'TESTCASECREATEPAGE.TITLE_PLACEHOLDER' | translate }}" size="35">
        </div>

        <div class="form-group">
          <label for="description">{{ 'TESTCASECREATEPAGE.DESCRIPTION' | translate }}</label>
          <input type="text" id="description" name="description" [(ngModel)]="testcase.description" #description="ngModel" placeholder="{{ 'TESTCASECREATEPAGE.DESCRIPTION_PLACEHOLDER' | translate }}"
            size="35">
        </div>

        <div class="form-group">
          <label for="priority">{{ 'TESTCASECREATEPAGE.PRIORITY' | translate }}</label>
          <div class="select">
            <select id="priority" name="priority" [(ngModel)]="testcase.priority" #priority="ngModel">
              <option *ngFor="let priority of priorityKeys" [value]="priority.value">{{ 'PRIORITIES.' + priority.value | translate }}</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="type">{{ 'TESTCASECREATEPAGE.TYPE' | translate }}</label>
          <div class="select">
            <select id="type" name="type" [(ngModel)]="testcase.type" #priority="ngModel">
              <option *ngFor="let type of typeKeys" [value]="type.value">{{ 'TESTCASETYPE.' + type.value | translate }}</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="tags">{{ 'TESTCASECREATEPAGE.TAGS' | translate }}</label>
          <input #tag type="text" id="tags" name="tags" (keyup.enter)="setTag(tag.value); tag.value = '';" placeholder="{{ 'TESTCASECREATEPAGE.TAGS_PLACEHOLDER' | translate }}"
            size="35">
          <button type="button" class="btn btn-sm btn-secondary" (click)="setTag(tag.value); tag.value = '';">
            <clr-icon shape="plus"></clr-icon> Add</button>

        </div>
        <div class="form-group">
          <label for="tag-list"></label>
          <span *ngFor="let tag of testcase.tags" class="label">{{ tag }}
            <a (click)="removeTag(tag);">
              <clr-icon shape="close"></clr-icon>
            </a>
          </span>
        </div>

        <div class="form-group">
          <label for="preconditions">{{ 'TESTCASECREATEPAGE.PRECONDITIONS' | translate }}</label>
          <textarea id="preconditions" name="preconditions" [(ngModel)]="testcase.preConditions" #preconditions="ngModel" placeholder="{{ 'TESTCASECREATEPAGE.PRECONDITIONS_PLACEHOLDER' | translate }}"
            size="35"></textarea>
        </div>

        <div class="form-group">
          <label>{{ 'TESTCASECREATEPAGE.STEPS' | translate }}</label>
        </div>
        <br>
        <clr-datagrid *ngIf="testcase.steps" [(clrDgSelected)]="selectedTestSteps">

          <clr-dg-action-bar>
            <div class="btn-group">
              <!--<button type="button" class="btn btn-sm btn-secondary" (click)="onAdd()">
                <clr-icon shape="plus"></clr-icon> {{ 'TESTMANAGEMENTPAGE.ADD' | translate }}</button>-->
              <button type="button" class="btn btn-sm btn-secondary" (click)="onDelete()" *ngIf="selectedTestSteps.length > 0">
                <clr-icon shape="close"></clr-icon> {{ 'TESTMANAGEMENTPAGE.DELETE' | translate }}</button>
              <button type="button" class="btn btn-sm btn-secondary" (click)="onEdit()" *ngIf="selectedTestSteps.length === 1">
                <clr-icon shape="pencil"></clr-icon> {{ 'TESTMANAGEMENTPAGE.EDIT' | translate }}</button>
            </div>
          </clr-dg-action-bar>

          <clr-dg-column>{{ 'TESTMANAGEMENTPAGE.STEP_ACTION' | translate }}</clr-dg-column>
          <clr-dg-column>{{ 'TESTMANAGEMENTPAGE.TEST_DATA' | translate }}</clr-dg-column>
          <clr-dg-column>{{ 'TESTMANAGEMENTPAGE.EXPECTED_RESULT' | translate }}</clr-dg-column>
          <clr-dg-placeholder>{{ 'TESTCASECREATEPAGE.STEPS_EMPTY_PLACEHOLDER' | translate }}</clr-dg-placeholder>
          <clr-dg-row *clrDgItems="let step of testcase.steps;" (clrDgItem)="step">
            <clr-dg-cell>
              {{ step.stepAction }}
            </clr-dg-cell>
            <clr-dg-cell>
              {{ step.testData }}
            </clr-dg-cell>
            <clr-dg-cell>
              {{ step.expectedResult }}
            </clr-dg-cell>
          </clr-dg-row>
          <clr-dg-footer>{{ testcase.steps.length}} {{ 'TESTCASECREATEPAGE.STEPS_COUNT' | translate }}</clr-dg-footer>
        </clr-datagrid>

        <br>
        <div class="form-group">
          <label>{{ 'TESTCASECREATEPAGE.ADD_STEP' | translate }}</label>
        </div>
        <br>
        <br>

        <div class="form-group">
          <label for="stepAction">{{ 'TESTCASECREATEPAGE.STEPS_ACTION_PLACEHOLDER' | translate }}</label>
          <textarea id="stepAction" name="stepAction" [(ngModel)]="testCaseStep.stepAction" #stepAction="ngModel" placeholder="click to login button"></textarea>
        </div>

        <div class="form-group">
          <label for="testData">{{ 'TESTCASECREATEPAGE.TESTDATA' | translate }}</label>
          <textarea id="testData" name="testData" [(ngModel)]="testCaseStep.testData" #testData="ngModel" placeholder="testdata"></textarea>
        </div>

        <div class="form-group">
          <label for="expectedResult">{{ 'TESTCASECREATEPAGE.EXPECTED' | translate }}</label>
          <textarea id="expectedResult" name="expectedResult" [(ngModel)]="testCaseStep.expectedResult" #expectedResult="ngModel" placeholder="expected"></textarea>
        </div>

        <div class="form-group">
          <button type="button" class="btn btn-sm btn-secondary" (click)="addStep();">
            <clr-icon shape="plus"></clr-icon> {{ 'TESTMANAGEMENTPAGE.ADD' | translate }}</button>
        </div>
        <!-- should be removed when drag n drop added -->
        <div class="form-group">
          <label for="order">{{ 'TESTCASECREATEPAGE.ORDER' | translate }}</label>
          <input type="number" id="order" name="order" [(ngModel)]="testcase.order" #order="ngModel" placeholder="{{ 'TESTCASECREATEPAGE.ORDER_PLACEHOLDER' | translate }}"
            size="35">
        </div>

      </section>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="setOpened(false)">{{ 'COMMON.CANCEL_BUTTON' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="editTestCaseForm.ngSubmit.emit();" [disabled]="!editTestCaseForm.form.valid">{{ 'COMMON.SAVE_BUTTON' | translate }}</button>
  </div>
</clr-modal>
