.wrapper {
    height: calc(100vh - 110px);
}

.avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto !important;
}

.avatar-name {
  position: relative;
  top: 4px;
  font-size: 50% !important;
}
