/* You can add global styles to this file, and also import other style files */

.app-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* hack for fix backdrop over all layout */

.header-backdrop {
    z-index: 0 !important;
}
