/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';
/*

.app-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header-backdrop {
    z-index: 0 !important;
}

.login-wrapper [clrInput],
.login-wrapper [clrPassword] {
    width: 16rem;
}

.login-wrapper [clrPassword] {
    width: calc(16rem - 16px);
}

.login-wrapper .checkbox {
    padding-top: 15px;
}

*/
