<div class="flex flex-col h-full w-48 bg-blue-800 text-white p-4 space-y-1">

  <!--
  <a routerLink="./dashboard" routerLinkActive="active">
    <clr-icon shape="dashboard"></clr-icon>
    {{ 'SIDEBAR.DASHBOARD' | translate }}
  </a>-->

  <!--
  <div class="nav-divider"></div>
  <a routerLink="./requirements" routerLinkActive="active">
    <clr-icon shape="file-group"></clr-icon>
    {{ 'SIDEBAR.REQUIREMENTS' | translate }}
  </a>-->

  <a routerLink="./test-management" routerLinkActive="active">
    <clr-icon shape="list"></clr-icon>
    {{ 'SIDEBAR.TEST_MANAGEMENT' | translate }}
  </a>

  <div class="nav-divider"></div>
  <a routerLink="./test-executions" routerLinkActive="active">
    <clr-icon shape="tasks"></clr-icon>
    {{ 'SIDEBAR.TEST_EXECUTIONS' | translate }}
  </a>



  <a routerLink="./reports" routerLinkActive="active">
    <clr-icon shape="bar-chart"></clr-icon>
    {{ 'SIDEBAR.REPORTS' | translate }}
  </a>

  <a routerLink="./settings" routerLinkActive="active">
    <clr-icon shape="cog"></clr-icon>
    {{ 'SIDEBAR.PROJECT_SETTINGS' | translate }}
  </a>

</div>
