<div class="content-area">

  <form clrForm>
    <section class="form-block">

      <clr-toggle-container>
        <label for="theme">{{ 'MAINSETTINGS.THEME' | translate }}</label>
        <clr-toggle-wrapper>
          <input clrToggle type="checkbox" id="theme" disabled>
        </clr-toggle-wrapper>
      </clr-toggle-container>
      <br>
      <clr-select-container>
        <label for="language">{{ 'MAINSETTINGS.LANGUAGE' | translate }}</label>
        <select clrSelect id="language" #langSelect (change)="changeLanguage(langSelect.value)">
          <option *ngFor="let lang of translateService.getLangs()" [value]="lang"
            [selected]="lang === translateService.currentLang">{{ 'LANGUAGES.' + lang | translate }}</option>
        </select>
      </clr-select-container>

    </section>
  </form>
</div>
