<!--<button class="btn btn-primary" (click)="projectWizard = !projectWizard;">Open</button>-->

<clr-wizard #wizardlg [(clrWizardOpen)]="opened">
  <clr-wizard-title>Project Creation Wizard</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'" (click)="setOpened(false)">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'" (click)="setOpened(false); createProject();">Finish</clr-wizard-button>

  <clr-wizard-page [clrWizardPageNextDisabled]="name.pristine || !createProjectForm.valid">
    <ng-template clrPageTitle>Project Details</ng-template>
    <form #createProjectForm="ngForm">
      <section class="form-block">
        <label>Enter Project name and description</label>
        <div class="form-group">
          <label for="name" class="required">Project name</label>
          <input type="text" id="name" name="name" [(ngModel)]="project.name" #name="ngModel" required minlength="2">
        </div>
        <div class="form-group">
          <label for="description" class="required">Project description</label>
          <input type="text" id="description" name="description" [(ngModel)]="project.description" #description="ngModel" required>
        </div>
      </section>
    </form>
  </clr-wizard-page>

  <!--Choose users for project-->
  <!--
  <clr-wizard-page>
    <ng-template clrPageTitle>Users</ng-template>
    <clr-tabs>
      <clr-tab>
        <button clrTabLink>Invite Members</button>
        <clr-tab-content *clrIfActive="true">
          <form>
            <section class="form-block">
              <label>Enter email addresses for sending invite to project</label>
              <div class="form-group">
                <label class="required">email</label>
                <input type="email" id="requiredInput">
              </div>
            </section>
          </form>

          <section class="form-block">
            <label>Members who receive invite:</label>
            <div class="form-group">
              <a class="label label-blue" href="javascript://">
                james.marwin@test.com
                <clr-icon shape="close">
                </clr-icon>
              </a>
              <a class="label label-blue" href="javascript://">
                donald.duck@test.com
                <clr-icon shape="close">
                </clr-icon>
              </a>

            </div>
          </section>
        </clr-tab-content>
      </clr-tab>
      <clr-tab>
        <button clrTabLink id="link1">Add Users</button>
        <clr-tab-content id="content1" *clrIfActive>
          ...
        </clr-tab-content>
      </clr-tab>

    </clr-tabs>
  </clr-wizard-page>
-->
  <clr-wizard-page>
    <ng-template clrPageTitle>Finish</ng-template>
    <div class="finish-wrapper">
      <clr-icon shape="check-circle" size="148" style="color: #62A420;"></clr-icon>
    </div>
  </clr-wizard-page>
</clr-wizard>
