body {
    height: 100%;
}

#wrapper {
    display: flex;
}

#main {
    z-index: 1;
    flex: 1;
    height: 100%;
}

.sidebar-full {
    padding-left: 220px;
}

.sidebar-collapsed {
    padding-left: 70px !important;
}

#content-wrapper {
    border: 1px solid transparent;
    background-color: #EAEAEA;
    overflow: hidden;
}

#content {
    margin: 20px;
    height: 100%;
    overflow: hidden;
    min-height: 740px;
}

@media (max-width: 768px) {
    .sidebar-collapsed {
        padding-left: 0 !important;
    }
    #wrapper {
        overflow: hidden;
    }
    .sidebar-full {
        padding-left: 89%;
    }

    .sidebar-full > #content-wrapper {
        display: none !important;
    }

    .sidebar-collapsed > #content-wrapper {
        display: block !important;
    }

}


/* DARK THEME */

#wrapper.dark-theme #content-wrapper {
    background-color: #1B2531;
}

#wrapper.dark-theme #content {
    background-color: #283242;
    color: #FFF;
}