body {
    height: 100%;
}

#wrapper {
    display: flex;
}
#main {
    z-index: 1;
    flex: 1;
    height: 100%;
}

.sidebar-full{
    padding-left: 220px;
}

.sidebar-collapsed {
    padding-left: 70px !important;
}

#content-wrapper {
    border: 1px solid transparent;
    background-color: #EAEAEA;
    overflow: hidden;
}

#content {
    background-color: #FFF;
    margin: 20px;
    height: 100%;
    min-height: 640px;
}

@media (max-width: 800px) {
  
  .sidebar-collapsed {
      padding-left: 0 !important;
  }
  #wrapper {
    flex-direction: column;
  }
}