<div class="content-area">
  <div class="row">
    <div *ngIf="profile" class="user-profile">



      <form clrForm>
        <h1>{{ 'USERPROFILEPAGE.USER_PROFILE' | translate }}</h1>
        <section>
          <label>{{ 'USERPROFILEPAGE.USER' | translate }}</label>

          <clr-input-container>
            <label for="firstname">{{ 'USERPROFILEPAGE.FIRST_NAME' | translate }}</label>
            <input clrInput type="text" id="firstname" name="firstName" [(ngModel)]="profile.firstName" #firstname="ngModel"
              required placeholder="John" size="35">
          </clr-input-container>

          <clr-input-container>
            <label class="required" for="lastname">{{ 'USERPROFILEPAGE.LAST_NAME' | translate }}</label>
            <input clrInput type="text" id="lastname" name="lastName" [(ngModel)]="profile.lastName" #lastname="ngModel"
              required placeholder="Doe" size="35">
          </clr-input-container>

          <br>
          <label>{{ 'USERPROFILEPAGE.COMPANY_DETAILS' | translate }}</label>

          <clr-input-container>
            <label class="required" for="email">{{ 'USERPROFILEPAGE.EMAIL' | translate }}</label>
            <input clrInput type="text" id="email" name="email" [(ngModel)]="profile.email" #email="ngModel" required
              placeholder="johndoe@example.com" size="35">
          </clr-input-container>

          <clr-input-container>
            <label for="phonenumber">{{ 'USERPROFILEPAGE.PHONE_NUMBER' | translate }}</label>
            <input clrInput type="text" id="phonenumber" name="phoneNumber" [(ngModel)]="profile.workInfo.phoneNumber"
              placeholder="+7 (495) 123-45-67" size="35">
          </clr-input-container>

          <clr-input-container>
            <label for="jobtitle">{{ 'USERPROFILEPAGE.JOB_TITLE' | translate }}</label>
            <input clrInput type="text" id="jobtitle" name="jobTitle" [(ngModel)]="profile.workInfo.jobTitle" placeholder="Senior Test Engineer"
              size="35">
          </clr-input-container>

          <clr-input-container>
            <label for="company">{{ 'USERPROFILEPAGE.COMPANY' | translate }}</label>
            <input clrInput type="text" id="company" name="company" [(ngModel)]="profile.workInfo.companyName" placeholder="Example Inc."
              size="35">
          </clr-input-container>

          <button type="submit" class="btn btn-primary">{{ 'USERPROFILEPAGE.SAVE_BUTTON' | translate }}</button>
        </section>
      </form>

    </div>
  </div>
</div>
