<div class="content-container">

  <clr-vertical-nav class="sidenav nav-trigger--bottom" [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
    <div class="nav-content">

      <a clrVerticalNavLink routerLink="./main" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="cog"></clr-icon>
        Main Settings
      </a>

      <a clrVerticalNavLink routerLink="./users" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="users"></clr-icon>
        Users
      </a>

      <a clrVerticalNavLink routerLink="./inventory" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="devices"></clr-icon>
        Inventory
      </a>

    </div>

  </clr-vertical-nav>

  <div class="content-area">
    <router-outlet></router-outlet>
  </div>
</div>
